<html>
  <head>
    <title>Student List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <p>
  <a class="btn btn-primary" href="/addStudent">Add Student</a>
  <a class="btn btn-primary" href="/addStandard">Add Standard</a>
  <a class="btn btn-primary" href="/addGrade">Add Grade</a>
  <p>
  <a class="btn btn-primary" href="/Students">View Students</a>
  <a class="btn btn-primary" href="/Standards">View Standards</a>
  <a class="btn btn-primary" href="/Grades">View Grades</a>
</p>
</p>
  <body>
    <!-- Menu -->
    <div class="container">
      {{{ body }}}
    </div>
    <!-- Footer -->
  </body>
</html>